.all-text{
  margin-left: 190px;
}
.margin-top {
  margin-top: 140px;
}

.main-text {
  color: rgb(58, 57, 57);
  font: normal normal 300 58px/48px Oxygen;
  font-weight: bold;
}

.second-text {
  color: #707070;
  margin-top: 8px;
  font: normal normal 300 38px/48px Oxygen;
}

.inputContainer {
  margin-bottom: 10px;
}

.inputField {
  width: 250px;
  padding: 5px;
  outline: none;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}
.icon_right1{
  position: relative;
  right:4px;
  top: 1px;
  color: #000000;
}
.loding{
  position: relative;
  right:8px !important;
  top: 2px;
}
.errorText {
  color: red;
}

.third-text {
  color: #707070;
  margin-top: 8px;
  font: normal normal 300 15px/48px Oxygen;
}

.clickable-buttons {
  margin-left:5px;
  background-color: #E0E0E0;
  border-radius: 5px;
  border: none;
  height: 36px;
  width:5px !important;   
}

.conten-display{
  display: flex;
  justify-content: flex-start;
}
.custom-close-button{
  margin-left: 85%;
  margin-top: -7%;
}

