.image{
    margin-top: 37px;
   }
  #cource a.active{
          color: #7C6BFA;
  }
   .learnicon{
    color: #989AA0;
   padding: 6px;
  
   }
   .learnicon:hover{
    color: white;
    background: #7C6CFA 0% 0% no-repeat padding-box;
   box-shadow: 0px 13px 16px #B1A7FF;
   border-radius: 10px;
   opacity: 0.9;
   }
   .sidebartext{
     font: normal normal bold 16px/20px Oxygen;
     line-height: 25px;
   }
   .cource,.mouse,.book,.check,.file,.clock,.calender{
     color: #989AA0;
   }
   /* .cource:hover{
    color:#7C6CFA ;
   } */
   .punch{
   font: normal normal normal 16px/17px Oxygen;
   color: #707070;
   opacity: 1;
   width: 100px;
   }
   
   .footer_text1{
     position: fixed;
     bottom:0px;
   }
   
   button{
   color: white;
   background-color: #7C6BFA;
   border-radius: 5px;
   opacity: 1;
   border: none;
   width: 200px;
   padding: 7px 20px 7px 25px;
   }
   .footer1{
     font: normal normal normal 12px/15px Oxygen;
   color: #707070;
   width: 190px;

   
   }
   .active{
    font-weight: bold;
    
  }

  .active-link {
    color: #7C6BFA;
  }
  
  .inactive-link {
    color: gray;
  }
  